<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{commonviewparts/metadata}"></th:block>
    <title>Aplikacja do spacerów z psami</title>
    <th:block th:replace="~{commonviewparts/css-styles-links}"></th:block>
    <link rel="stylesheet" th:href="@{/css/index-custom-styles.css}">
</head>

<body>

<!-- Pasek nawigacyjny -->
<div th:if="${authenticated == true}" th:insert="~{commonviewparts/user-logged-index-navbar :: navbar}"></div>
<div th:unless="${authenticated == true}" th:insert="~{commonviewparts/index-navbar :: navbar}"></div>

<!-- Contact Form Section -->
<section class="container py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="contact-form">
                <h2>Contact Us</h2>
                <form>
                    <div class="form-group">
                        <label for="name">Your Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter your name">
                    </div>
                    <div class="form-group">
                        <label for="email">Your Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <label for="message">Your Message</label>
                        <textarea class="form-control" id="message" rows="5" placeholder="Enter your message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Stopka -->
<div th:insert="~{commonviewparts/footer :: footer}"></div>

<th:block th:replace="~{commonviewparts/common-scripts}"></th:block>
</body>
</html>
