<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{commonviewparts/metadata}"></th:block>
  <title>Aplikacja do spacerów z psami</title>
  <th:block th:replace="~{commonviewparts/css-styles-links}"></th:block>
  <link rel="stylesheet" th:href="@{/css/index-custom-styles.css}">
</head>
<body>

<!-- Pasek nawigacyjny -->
<div th:if="${authenticated == true}" th:insert="~{commonviewparts/user-logged-index-navbar :: navbar}"></div>
<div th:unless="${authenticated == true}" th:insert="~{commonviewparts/index-navbar :: navbar}"></div>

<section class="py-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4">Witamy w Walk The Dog</h1>
        <p class="lead">Najlepsza aplikacja dla miłośników spacerów z psami. Znajdź pobliskie parki, połącz się z innymi właścicielami psów i śledź swoje spacery.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img th:src="@{/images/happy-dogs.webp}" class="img-fluid" alt="Dwa szczęśliwe psy">
      </div>
    </div>
  </div>
</section>
<section class="py-5 text-center">
  <div class="container">
    <a th:if="${authenticated == true}" th:href="@{/users/dashboard}" class="btn btn-primary btn-lg">Przejdź do tablicy
      głównej</a>
    <a th:unless="${authenticated == true}" th:href="@{/register}" class="btn btn-primary btn-lg">Załóż konto</a>
  </div>
</section>

<!-- Sekcja opisu aplikacji -->
<section id="about" class="bg-light py-5">
  <div class="container text-center">
    <h2>Walk the dog - Rozwija moźliwości!</h2>
    <div class="row mt-4">
      <div class="col-md-4">
        <img th:src="@{/images/dogs-walking.webp}" class="feature-img" alt="Ludzie spacerujący z psami w parku">
        <h3>Odkrywaj ciekawe miejsca</h3>
        <p>Znajdź pobliskie parki przyjazne psom i trasy na codzienne spacery.</p>
      </div>
      <div class="col-md-4">
        <img th:src="@{/images/dog-owners-chatting.webp}" class="feature-img" alt="Rozmawiający właściciele psów">
        <h3>Poznawaj nowych ludzi</h3>
        <p>Połącz się z innymi właścicielami psów w okolicy, aby umawiać wspólne spacery.</p>
      </div>
      <div class="col-md-4">
        <img th:src="@{/images/walk-tracking.webp}" class="feature-img" alt="Właściciel psa śledzący aplikację">
        <h3>Śledź swoe spacery</h3>
        <p>Śledź swoje spacery i ustalaj cele zarówno dla siebie, jak i dla swojego czworonożnego przyjaciela.</p>
      </div>
    </div>
  </div>
</section>


<section class="container py-5">
  <div class="container text-center">
    <h2>Profile naszych użytkowników</h2>
    <div class="row mt-4">
      <div class="col-md-4">
        <img th:src="@{/images/dogs-walking.webp}" class="feature-img" alt="Ludzie spacerujący z psami w parku">
        <h3>Odkrywaj ciekawe miejsca</h3>
        <p>Znajdź pobliskie parki przyjazne psom i trasy na codzienne spacery.</p>
      </div>
    </div>
  </div>
</section>

<!-- Sekcja kontaktowa -->
<section th:fragment="contact" id="contact" class="bg-light contact-section">
  <div th:insert="~{commonviewparts/contact-section :: contact}"></div>
</section>

<!-- Stopka -->
<div th:insert="~{commonviewparts/footer :: footer}"></div>

<th:block th:replace="~{commonviewparts/common-scripts}"></th:block>
</body>
</html>
