<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<head>
  <th:block th:replace="~{commonviewparts/metadata}"></th:block>
  <title>My Profile - Pet Walk</title>
  <th:block th:replace="~{commonviewparts/css-styles-links}"></th:block>

</head>
<body>
<!-- Navigation Bar -->
<div th:insert="~{commonviewparts/navbar :: navbar}"></div>
<!-- Header Section -->
<div class="header">
  <h1>Add Dog</h1>
</div>
<!-- Main Content -->
<div class="main-content custom-container">
  <button class="btn btn-secondary mb-3" onclick="history.back()">
    <i class="fas fa-arrow-left"></i> Go Back
  </button>

  <!-- Dog Form -->
  <div class="dog-form">
    <form id="dogForm" th:action="@{/users/{userId}/dogs/addDog(userId=${userId})}" th:method="POST" th:object="${dog}">
      <div class="form-group">
        <label for="dogName">Name</label>
        <input type="text" class="form-control" id="dogName" th:field="${dog.name}" required>
      </div>
      <div class="form-group">
        <label for="dogBreed">Breed</label>
        <input type="text" class="form-control" id="dogBreed" th:field="${dog.breed}">
      </div>
      <div class="form-group">
        <label for="dogDob">Date of Birth</label>
        <input type="date" class="form-control" id="dogDob" th:field="${dog.dateOfBirth}">
      </div>
      <div class="form-group">
        <label for="dogGender">Gender</label>
        <select class="form-control" id="dogGender" th:field="${dog.gender}">
          <option value="">Select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <div class="form-group">
        <label for="dogSpayed">Spayed/Neutered</label>
        <select class="form-control" id="dogSpayed" th:field="${dog.spayed}" >
          <option value="">Select</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>
      <div class="form-group">
        <label for="dogWeight">Weight (kg)</label>
        <input type="number" class="form-control" id="dogWeight" th:field="${dog.weight}" >
      </div>
      <div class="form-group">
        <label for="dogHeight">Height (cm)</label>
        <input type="number" class="form-control" id="dogHeight" th:field="${dog.height}" required>
      </div>
      <div class="form-group">
        <label for="dogActivities">Preferred Activities</label>
        <input type="text" class="form-control" id="dogActivities" th:field="${dog.preferredActivities}">
      </div>
      <div class="form-group">
        <label for="dogActivityLevel">Activity Level</label>
        <select class="form-control" id="dogActivityLevel" th:field="${dog.activityLevel}">
          <option value="">Select Activity Level</option>
          <option value="low">Low</option>
          <option value="medium">Medium</option>
          <option value="high">High</option>
        </select>
      </div>
      <div class="form-group">
        <label for="dogBehaviour">General Behaviour</label>
        <input type="text" class="form-control" id="dogBehaviour" th:field="${dog.generalBehaviour}">
      </div>
      <div class="form-group">
        <label for="dogSocialization">Socialization Level</label>
        <input type="range" min="0" max="10" class="form-control" id="dogSocialization" th:field="${dog.socializationLevel}">
      </div>
      <div class="form-group">
        <label for="dogTraining">Training Level</label>
        <input type="range" min="0" max="10" class="form-control" id="dogTraining" th:field="${dog.trainingLevel}">
      </div>
      <div class="form-group">
        <label for="dogIssues">Behavioral Issues</label>
        <input type="text" class="form-control" id="dogIssues" th:field="${dog.behavioralIssues}">
      </div>
      <div class="form-group">
        <label for="dogTriggers">Triggers</label>
        <input type="text" class="form-control" id="dogTriggers" th:field="${dog.triggers}" >
      </div>
      <div class="form-group">
        <label for="dogMicrochip">Microchip</label>
        <input type="text" class="form-control" id="dogMicrochip" th:field="${dog.microChipNumber}">
      </div>
      <div class="form-group">
        <label for="dogPhotos">Profile photo</label>
        <input type="file" class="form-control" id="dogPhotos" th:field="${dog.profilePhoto}">
      </div>

      <div class="form-group">
        <label for="profilePhoto">More photos</label>
        <input type="file" class="form-control" id="profilePhoto" multiple th:field="${dog.photos}">
      </div>

      <div class="btn-container">
        <button type="submit" class="btn btn-success" id="saveDogBtn" >Save</button>
      </div>
    </form>
  </div>

</div>
<!-- Footer -->
<div th:insert="~{commonviewparts/footer :: footer}"></div>

<!-- Bootstrap JS and dependencies (jQuery, Popper.js) -->
<th:block th:replace="~{commonviewparts/common-scripts}"></th:block>
</body>
</html>