<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{commonviewparts/metadata}"></th:block>
    <title>Aplikacja do spacerów z psami - dashboard</title>
    <th:block th:replace="~{commonviewparts/css-styles-links.html}"></th:block>
    <link rel="stylesheet" th:href="@{/css/custom-styles-dashboard.css}">
</head>
<body>

<div class="wrapper">
    <!-- Navigation Bar -->
    <div th:insert="~{commonviewparts/dashboard-navbar :: navbar}"></div>

    <!-- Main Content -->
    <div class="content">
        <button class="btn btn-secondary mb-3" onclick="history.back()">
            <i class="fas fa-arrow-left"></i> Wróć
        </button>
        <!-- Dogs Section -->
        <section class="dogs-section container py-5">
            <h4 class="text-center mb-4">Moje Psy</h4>
            <div class="dog-box">
                <img alt="Dog 1 Picture" src="dog1.jpg">
                <h5>Dog Name 1</h5>
                <button class="btn btn-primary btn-sm">Edit Dog Data</button>
            </div>
            <div class="dog-box">
                <img alt="Dog 2 Picture" src="dog2.jpg">
                <h5>Dog Name 2</h5>
                <button class="btn btn-primary btn-sm">Edit Dog Data</button>
            </div>
            <div class="dog-box">
                <img alt="Dog 3 Picture" src="dog3.jpg">
                <h5>Dog Name 3</h5>
                <button class="btn btn-primary btn-sm">Edit Dog Data</button>
            </div>
            <div class="dog-box">
                <img alt="Dog 4 Picture" src="dog4.jpg">
                <h5>Dog Name 4</h5>
                <button class="btn btn-primary btn-sm">Edit Dog Data</button>
            </div>
        </section>


    </div>
</div>
    <!-- Stopka -->
    <div th:insert="~{commonviewparts/footer :: footer}"></div>

    <th:block th:replace="~{commonviewparts/common-scripts}"></th:block>

</body>
</html>