<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{commonviewparts/metadata}"></th:block>
    <title>Aplikacja do spacerów z psami - mój profil</title>
    <th:block th:replace="~{commonviewparts/css-styles-links.html}"></th:block>
    <link rel="stylesheet" th:href="@{/css/custom-styles-dashboard.css}">
</head>
<body>

<div class="wrapper">
    <!-- Navigation Bar -->
    <div th:insert="~{commonviewparts/dashboard-navbar :: navbar}"></div>

    <!-- Main Content -->
    <div class="main-content custom-container">
        <button class="btn btn-secondary mb-3" onclick="history.back()">
            <i class="fas fa-arrow-left"></i> Wróć
        </button>
        <!-- Profile Section -->
        <section class="profile-section container">
            <img alt="User Profile Picture" class="profile-picture" src="user-profile-picture.jpg">
            <h3 th:text="${user.firstName} + ' ' + ${user.lastName}"></h3>
            <p th:text="${user.bio}"></p>

            <a th:href="@{/users/profile/edit}">
                <button class="btn btn-primary">Edytuj Profil</button>
            </a>

        </section>

        <!-- Dogs Section -->
        <section class="dogs-section container py-5">
            <h4 class="text-center mb-4">Moje Psy</h4>
            <div class="row">
                <div class="dog-box" th:each="dog : ${user.dogs}">
                    <img alt="Dog picture" th:src="${dog.profilePhoto}">
                    <h5 th:text="${dog.name}"></h5>
                    <a th:href="@{/users/dogs/{id}(id=${dog.id})}">
                        <button class="btn btn-primary btn-sm">Pokaż</button>
                    </a>
                    <a th:href="@{/users/dogs/edit/{id}(id=${dog.id})}">
                        <button class="btn btn-primary btn-sm">Edytuj</button>
                    </a>
                    <a th:href="@{/users/dogs/delete/{id}(id=${dog.id})}">
                        <button class="btn btn-danger btn-sm" onclick="confirmAction()">Usuń</button>
                    </a>
                </div>
            </div>
        </section>
    </div>

</div>
<!-- Stopka -->
<div th:insert="~{commonviewparts/footer :: footer}"></div>

<th:block th:replace="~{commonviewparts/common-scripts}"></th:block>
</body>
</html>
