<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{commonviewparts/metadata}"></th:block>
    <title>Aplikacja do spacerów z psami - znajomi i zaproszenia do znajomych</title>
    <th:block th:replace="~{commonviewparts/css-styles-links.html}"></th:block>
    <link rel="stylesheet" th:href="@{/css/custom-styles-dashboard.css}">
</head>

<body>
<div class="wrapper">
<!-- Navigation Bar -->
<div th:insert="~{commonviewparts/dashboard-navbar :: navbar}"></div>

<!-- Header Section -->
<div class="header">
    <h1>Znajomi i zaproszenia do znajomych</h1>
</div>
<!-- Main Content -->
<div class="main-content custom-container">
    <button class="btn btn-secondary mb-3" onclick="history.back()">
        <i class="fas fa-arrow-left"></i> Wróć
    </button>
    <!-- Send Friend Request Section -->
    <div class="section">
        <h4>Wyślij zaproszenie do znajomych</h4>
        <form id="sendFriendRequestForm" th:action="@{/users/friends/sendFriendRequest}">
            <div class="form-group">
                <label for="searchUser">Search User</label>
                <input type="text" class="form-control" id="searchUser" name="friend" placeholder="Type username or login">
            </div>
            <button type="submit" class="btn btn-primary">Wyślij zaproszenie</button>
        </form>
    </div>

    <!-- Friend Invitations Section -->
    <div class="section">
        <h4>Otrzymane zaproszenia</h4>
        <ul class="list-group">
            <li class="list-group-item" th:each="request : ${user.receivedFriendRequests}">
                <h4 th:text="${request.sender}"></h4>
                <div>
                    <form th:action="@{/users/friends/accept}" th:method="POST">
                        <input type="hidden" th:value="${request.id}">
                        <button class="btn btn-success btn-sm">Zaakceptuj</button>
                    </form>

                    <form th:action="@{/users/friends/decline}" th:method="POST">
                        <input type="hidden" th:value="${request.id}">
                        <button class="btn btn-success btn-sm" onclick="confirmAction()" >Odrzuć</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <!-- Sent Friend Requests Section -->
    <div class="section">
        <h4>Wysłane zaproszenia do znajomych</h4>
        <ul class="list-group">
            <li class="list-group-item" th:each="request : ${user.sentFriendRequests}">
                <h4 th:text="${request.sender}"></h4>

                <form th:action="@{/users/friends/cancel}" th:method="POST">
                    <input type="hidden" th:value="${request.id}">
                    <button class="btn btn-success btn-sm" onclick="confirmDecline()" >Usuń</button>
                </form>
            </li>
        </ul>
    </div>
    <!-- Friends List Section -->
    <div class="section">
        <h4>Moi znajomi</h4>
        <ul class="list-group">
            <li class="list-group-item friend-item" th:each="friend : ${user.friends}">
                <div class="friend-info">
                    <img th:src="" alt="Friend 1" width="40" height="40">
                    <a th:text="${friend.name}" th:href="@{/users/friends/{id}(id=${friend.id})}" class="friend-link"></a>
                </div>

                <form th:action="@{/users/friends/delete}" th:method="POST">
                    <input type="hidden" th:value="${friend.id}">
                    <button class="btn btn-success btn-sm" onclick="confirmAction()">Usuń</button>
                </form>
            </li>

        </ul>
    </div>
</div>
</div>
<!-- Stopka -->
<div th:insert="~{commonviewparts/footer :: footer}"></div>

<th:block th:replace="~{commonviewparts/common-scripts}"></th:block>

<script type="text/javascript">
    function confirmAction() {
        const confirmed = confirm("Czy jesteś tego pewien?");
        if (confirmed) {
            // Action confirmed
            alert("Usunięto pomyślnie!");
        }
    }

    function confirmDecline() {
        const confirmed = confirm("Czy jesteś tego pewien?");
        if (confirmed) {
            // Action confirmed
            alert("Zaproszenie usunięte pomyślnie!");
        }
    }
</script>
</body>
</html>
