<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{commonviewparts/metadata}"></th:block>
    <title>Aplikacja do spacerów z psami - znajomi</title>
    <th:block th:replace="~{commonviewparts/css-styles-links.html}"></th:block>
    <link rel="stylesheet" th:href="@{/css/custom-styles-dashboard.css}">
</head>

<body>
<!-- Navigation Bar -->
<div th:insert="~{commonviewparts/dashboard-navbar :: navbar}"></div>

<!-- Header Section -->
<div class="header">
    <h1>Friend Requests and Groups</h1>
</div>
<!-- Main Content -->
<div class="main-content custom-container">
    <button class="btn btn-secondary mb-3" onclick="history.back()">
        <i class="fas fa-arrow-left"></i> Go Back
    </button>
    <!-- Send Friend Request Section -->
    <div class="section">
        <h4>Send Friend Request</h4>
        <form id="sendFriendRequestForm">
            <div class="form-group">
                <label for="searchUser">Search User</label>
                <input type="text" class="form-control" id="searchUser" placeholder="Type username or login">
            </div>
            <div class="form-group">
                <label for="selectUser">Select User</label>
                <select class="form-control" id="selectUser">
                    <!-- Options would be dynamically populated based on search -->
                    <option value="user1">User 1</option>
                    <option value="user2">User 2</option>
                    <option value="user3">User 3</option>
                </select>
            </div>
            <button type="button" class="btn btn-primary" onclick="sendFriendRequest()">Send Request</button>
        </form>
    </div>

    <!-- Friend Invitations Section -->
    <div class="section">
        <h4>Friend Invitations</h4>
        <ul class="list-group">
            <li class="list-group-item">
                User 4
                <div>
                    <button class="btn btn-success btn-sm" onclick="acceptInvitation('user4')">Accept</button>
                    <button class="btn btn-danger btn-sm" onclick="declineInvitation('user4')">Decline</button>
                </div>
            </li>
            <li class="list-group-item">
                User 5
                <div>
                    <button class="btn btn-success btn-sm" onclick="acceptInvitation('user5')">Accept</button>
                    <button class="btn btn-danger btn-sm" onclick="declineInvitation('user5')">Decline</button>
                </div>
            </li>
        </ul>
    </div>
    <!-- Sent Friend Requests Section -->
    <div class="section">
        <h4>Sent Friend Requests</h4>
        <ul class="list-group">
            <li class="list-group-item">
                User 1
                <button class="btn btn-danger btn-sm" onclick="cancelRequest('user1')">Cancel Request</button>
            </li>
            <li class="list-group-item">
                User 2
                <button class="btn btn-danger btn-sm" onclick="cancelRequest('user2')">Cancel Request</button>
            </li>
        </ul>
    </div>
    <!-- Friends List Section -->
    <div class="section">
        <h4>My Friends</h4>
        <ul class="list-group">
            <li class="list-group-item friend-item">
                <div class="friend-info">
                    <img src="friend1.jpg" alt="Friend 1" width="40" height="40">
                    <a href="#" class="friend-link">User 1</a>
                </div>
                <button class="btn btn-danger btn-sm" onclick="deleteFriend('user1')">Delete Friend</button>
            </li>
            <li class="list-group-item friend-item">
                <div class="friend-info">
                    <img src="friend2.jpg" alt="Friend 2" width="40" height="40">
                    <a href="#" class="friend-link">User 2</a>
                </div>
                <button class="btn btn-danger btn-sm" onclick="deleteFriend('user2')">Delete Friend</button>
            </li>
        </ul>
    </div>
    <!-- Groups Section -->
    <div class="section">
        <h4>My Groups</h4>
        <div class="list-group">
            <div class="list-group-item group-item">
                <div>
                    <h5>Group 1</h5>
                    <p>Members: 10</p>
                </div>
                <div class="btn-group">
                    <button class="btn btn-info btn-sm" onclick="openGroup('group1')">Open Group</button>
                    <button class="btn btn-warning btn-sm" onclick="quitGroup('group1')">Quit Group</button>
                    <button class="btn btn-secondary btn-sm" onclick="openGroupChat('group1')"><i class="fas fa-comments"></i></button>
                </div>
            </div>
            <div class="list-group-item group-item">
                <div>
                    <h5>Group 2</h5>
                    <p>Members: 15</p>
                </div>
                <div class="btn-group">
                    <button class="btn btn-info btn-sm" onclick="openGroup('group2')">Open Group</button>
                    <button class="btn btn-warning btn-sm" onclick="quitGroup('group2')">Quit Group</button>
                    <button class="btn btn-secondary btn-sm" onclick="openGroupChat('group2')"><i class="fas fa-comments"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Stopka -->
<div th:insert="~{commonviewparts/footer :: footer}"></div>

<th:block th:replace="~{commonviewparts/common-scripts}"></th:block>
</body>
</html>
