<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{commonviewparts/metadata}"></th:block>
    <title>Aplikacja do spacerów z psami - dashboard</title>
    <th:block th:replace="~{commonviewparts/css-styles-links.html}"></th:block>
    <link rel="stylesheet" th:href="@{/css/custom-styles-dashboard.css}">
</head>
<body>

<div class="wrapper">
    <!-- Navigation Bar -->
    <div th:insert="~{commonviewparts/dashboard-navbar :: navbar}"></div>

    <!-- Main Content -->
    <div class="content">
        <!-- Dogs Section -->
        <section class="main-content custom-container">

            <div class="main-content custom-container">
            <button class="btn btn-secondary mb-3" onclick="history.back()">
                <i class="fas fa-arrow-left"></i> Wróć
            </button>
            </div>

            <div class="dog-box" th:each="dog : ${dogs}">
                <img alt="Dog picture" th:src="${dog.profilePhoto}">
                <h5 th:text="${dog.name}"></h5>
                <a th:href="@{/users/dogs/{id}(id=${dog.id})}">
                    <button class="btn btn-primary btn-sm">Pokaż</button>
                </a>
                <a th:href="@{/users/dogs/edit/{id}(id=${dog.id})}">
                    <button class="btn btn-primary btn-sm">Edytuj</button>
                </a>
                <a th:href="@{/users/dogs/delete/{id}(id=${dog.id})}">
                    <button class="btn btn-danger btn-sm" onclick="confirmAction()">Usuń</button>
                </a>
            </div>
            <a th:href="@{/users/dogs/addDog}">
                <button class="btn btn-primary btn-sm">Dodaj psa</button>
            </a>
        </section>
    </div>
</div>
    <!-- Stopka -->
    <div th:insert="~{commonviewparts/footer :: footer}"></div>

    <th:block th:replace="~{commonviewparts/common-scripts}"></th:block>

<script type="text/javascript">
    function confirmAction() {
        const confirmed = confirm("Czy jesteś tego pewien?");
        if (confirmed) {
            // Action confirmed
            alert("Usunięto pomyślnie!");
        } else {
            // Action canceled
            alert("Akcja przerwana.");
        }
    }
</script>

</body>
</html>