<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{commonviewparts/metadata}"></th:block>
  <title>Aplikacja do spacerów z psami - mój pies</title>
  <th:block th:replace="~{commonviewparts/css-styles-links.html}"></th:block>
  <link rel="stylesheet" th:href="@{/css/custom-styles-dashboard.css}">
</head>

<body>
<!-- Navigation Bar -->
<div th:insert="~{commonviewparts/dashboard-navbar :: navbar}"></div>

<!-- Main Content -->
<div class="main-content custom-container">
  <button class="btn btn-secondary mb-3" onclick="history.back()">
    <i class="fas fa-arrow-left"></i> Go Back
  </button>
  <!-- Dog Info -->
  <div class="dog-info">
    <h2 th:text="${dog.name}"></h2>
    <img th:src="@{/${dog.profilePhoto}}" alt="Dog Picture">
    <div class="info-group">
      <label>Rasa:</label>
      <p th:text="${dog.breed}" id="dogBreed"></p>
    </div>
    <div class="info-group">
      <label>Data urodzenia:</label>
      <p th:text="${dog.dateOfBirth}" id="dogDob"></p>
    </div>
    <div class="info-group">
      <label>Płeć:</label>
      <p th:text="${dog.gender}" id="dogGender"></p>
    </div>
    <div class="info-group">
      <label>Sterylizowany:</label>
      <!--      <div th:swith="${dog.spayed}">-->
      <!--        <p th:case="true">Tak</p>-->
      <!--        <p th:case="false">Nie</p>-->
      <!--      </div>-->
      <p th:text="${dog.spayed}"></p>
    </div>
    <div class="info-group">
      <label>Waga w kg:</label>
      <p th:text="${dog.weight}" id="dogWeight"></p>
    </div>
    <div class="info-group">
      <label>Wysokość  cm:</label>
      <p th:text="${dog.height}" id="dogHeight">Height</p>
    </div>
    <div class="info-group">
      <label>Preferowana aktywność:</label>
      <p th:text="${dog.preferredActivities}" id="dogActivities"></p>
    </div>
    <div class="info-group">
      <label>Poziom aktywności</label>
      <p th:text="${dog.activityLevel}" id="dogActivityLevel"></p>
    </div>
    <div class="info-group">
      <label>Zachowanie:</label>
      <p th:text="${dog.generalBehaviour}" id="dogBehaviour"></p>
    </div>
    <div class="info-group">
      <label>Poziom socjalizacji (1 - 10):</label>
      <p th:text="${dog.socializationLevel}" id="dogSocialization"></p>
    </div>
    <div class="info-group">
      <label>Poziom wytrenowania (1 - 10):</label>
      <p th:text="${dog.trainingLevel}" id="dogTraining"></p>
    </div>
    <div class="info-group">
      <label>Problemy behawiorystyzczne:</label>
      <p th:text="${dog.behavioralIssues}" id="dogIssues"></p>
    </div>
    <div class="info-group">
      <label>Bodźce:</label>
      <p th:text="${dog.triggers}" id="dogTriggers">Triggers</p>
    </div>
    <div class="info-group">
      <label>Numer microchipu:</label>
      <p th:text="${dog.microChipNumber}" id="dogMicrochip"></p>
    </div>
    <div class="info-group">
      <label>Zdjęcia:</label>
      <div id="dogPhotos">
        <!-- Placeholder for multiple photos -->
        <img th:each="picture : ${dog.photos}" th:src="@{/${picture}}" alt="Dog Photo" class="img-thumbnail">
      </div>
    </div>
      <div class="dog-box">
        <a th:href="@{/users/dogs/edit/{id}(id=${dog.id})}">
          <button class="btn btn-primary">Edytuj</button>
        </a>

        <a th:href="@{/users/dogs/delete/{id}(id=${dog.id})}">
          <button class="btn btn-danger btn-sm" onclick="confirmAction()">Usuń</button>
        </a>

      </div>
  </div>
</div>
<!-- Stopka -->
<div th:insert="~{commonviewparts/footer :: footer}"></div>

<th:block th:replace="~{commonviewparts/common-scripts}"></th:block>

<script type="text/javascript">
  function confirmAction() {
    const confirmed = confirm("Czy jesteś tego pewien?");
    if (confirmed) {
      // Action confirmed
      alert("Usunięto pomyślnie!");
    } else {
      // Action canceled
      alert("Akcja przerwana.");
    }
  }
</script>

</body>
</html>


